<div class="infos-uteis">
  <table>
    <thead>
    <tr>
      <th>Programming</th>
      <th>Localization</th>
      <th>Contact</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>C++</td>
      <td>ENG↔PT-BR</td>
      <td><a href="https://www.linkedin.com/in/rapha-s/" target="_blank">LinkedIn</a></td>
    </tr>
    <tr>
      <td>C#</td>
      <td>JAP↔PT-BR</td>
      <td><a href="#" onclick="decode_and_show('=AXa65SYoBXYyB0b0FGdu92Y')">E-mail</a></td>
    </tr>
    <tr>
      <td>Lua</td>
      <td>JAP↔ENG</td>
      <td><a href="https://github.com/rapha-sampaio" target="_blank">GitHub</a></td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
  I am fascinated by the human creative capacity and have as my passion to transpose it to new horizons!<br>
  <br>
  In the technology area, I have experience with engineering of systems limited by physical factors such as memory and processing (e.g. embeddeds running on ARM chips with high energy efficiency), games (both via direct interaction with APIs like OpenGL, DirectX and Vulkan, and engines like Unity) and multimedia content processing (encoding and decoding audio/video, distribution and display of them on different platforms).
  <br> <br>
  I believe that if in the past Knuth noted that premature optimisation was the root of all evil, in today's world the total lack of it is a reflection of our years wallowing in performance leaps.
  <br>
  In the area of language, since my childhood the concept that not everyone speaks the same language always fascinated me, and with that the desire to understand people and content of different nationalities from mine was born. As time went by, this curiosity turned into an impulse to help others understand stuff and eventually became a profession.<br>
  <br>
  Whether it is transposing ideas between languages or ideas into mathematical models that can be run by a computer, I am confident in my ability to do so.<br>
