<div class="infos-uteis">
  <table>
    <thead>
    <tr>
      <th>Programação</th>
      <th>Localização</th>
      <th>Contato</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>C++</td>
      <td>ENG↔PT-BR</td>
      <td><a href="https://www.linkedin.com/in/rapha-s/" target="_blank">LinkedIn</a></td>
    </tr>
    <tr>
      <td>C#</td>
      <td>JAP↔PT-BR</td>
      <td><a href="#" onclick="decode_and_show('=AXa65SYoBXYyB0b0FGdu92Y')">E-mail</a></td>
    </tr>
    <tr>
      <td>Lua</td>
      <td>JAP↔ENG</td>
      <td><a href="https://github.com/rapha-sampaio" target="_blank">GitHub</a></td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
Sou fascinado pela capacidade criativa humana e tenho como minha paixão transpô-la para novos horizontes!<br>
<br>
Na área da tecnologia, tenho experiência com engenharia de sistemas limitados por fatores físicos como
memória e processamento (eg. embarcados rodando chips ARM com alta eficiência energética), jogos (tanto via interação direta com APIs
como OpenGL, DirectX e Vulkan, quanto em motores como o Unity) e
processamento de conteúdos multimídia (codificação e decodificação de áudio/video, distribuição e exibição dos
mesmos em plataformas diversas). <br> <br>
Acredito que se no passado Knuth notou que a otimização prematura era a raiz de todo mal, no mundo de hoje
a falta total dela é um reflexo da nossa soberba por anos nos chafurdando em saltos de desempenho.<br>
<br>
Já na área da linguagem, desce cedo o conceito de que nem todo mundo fala a mesma língua sempre
me fascinou, e com isso a vontade de entender pessoas e conteúdos de nacionalidades diferentes da
minha nasceu. Com o passar do tempo, essa curiosidade acabou se transformando em um impulso de
auxiliar para que outros também pudessem entender e no final acabou virando uma profissão.<br>
<br>
Seja transposição de ideias entre línguas ou de ideias para modelos matemáticos que possar ser executados
por um computador, tenho confiança na minha capacidade de fazê-lo.<br>
