<div class="infos-uteis">
  <table>
    <thead>
    <tr>
      <th>プログラミング</th>
      <th>翻訳</th>
      <th>連絡先</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>C++</td>
      <td>ENG↔PT-BR</td>
      <td><a href="https://www.linkedin.com/in/rapha-sampaio/" target="_blank">LinkedIn</a></td>
    </tr>
    <tr>
      <td>C#</td>
      <td>JAP↔PT-BR</td>
      <td><a href="#" onclick="decode_and_show('=AXa65SYoBXYyB0b0FGdu92Y')">E-mail</a></td>
    </tr>
    <tr>
      <td>Lua</td>
      <td>JAP↔ENG</td>
      <td><a href="https://github.com/rapha-sampaio" target="_blank">GitHub</a></td>
    </tr>
    </tbody>
  </table>
</div>
<hr>
僕は人間の創造的能力に魅了され、それを新しい地平に成ることに情熱を持っています！<br>
<br>
テック分野では、メモリや処理などの物理的要因に制限されたシステムのエンジニアリング（例えば、
高いエネルギー効率を持つARMチップ上で動作する組み込み機器）、ゲーム（時々 OpenGL、DirectX、VulkanなどのAPIをつかう、
時々Unityなどのエンジンをつかう）、マルチメディアコンテンツ処理（オーディオ/ビデオのエンコードとデコード、
異なるプラットフォームでの配信と表示）を経験しました。<br><br>
かつてKnuthが「早すぎる最適化は諸悪の根源」と指摘したとすれば、今日の世界ではそれが不足です。
原因は俺たちの「毎年の性能の飛躍」で楽しむにあぐらの年月の反省からだと思う。<br><br>
言語の分野では、子供の頃から「誰もが同じ言語を話すわけではない」という概念に魅了され、
自分とは異なる国籍の人々やコンテンツを理解したいという欲求が生まれました。そして、この好奇心は、
時が経つにつれて、他の人がものを理解するのを助けたいという衝動に変わり、やがて職業となったのです。<br>
<br>
言語間の変換であれ、コンピュータで実行可能な数学的モデルへの変換であれ、僕はその能力に自信を持っています。<br>
